nav {
  width: 540px;
  @include nav-container(190px, right);
  float: left;

  ul {
    list-style: none;
    margin: 95px 0 0 0;
    padding: 0;

    li {
      display: inline;
      min-width: calc(100% / 5);
      font-size: 0.8em;
      margin-right: 10px;

      a {
        color: $color-accent;
        text-decoration: none;
        letter-spacing: -0.01em;

        /* change this */
        &:hover,
        &:focus { 
          color: $color-dark;   /* was $color-white */
          text-decoration: underline;
        }
      }
    }
  }
}
